@font-face {
    font-family: chasing;
    src: url(/font/KGChasingCars.ttf);
}

@font-face {
    font-family: pesta;
    src: url(/font/PestaTahunBaru.ttf);
}


#banner {
    margin-top: 50px;
    position: relative;
    margin-bottom: 1cm;
}

#banner img {
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: serif;
}

section#banner h2 {
    font-size: 1.9cm;
    color: rgb(245, 239, 239);   
    -webkit-text-stroke: 1.7px #0e1a3c;
    font-family: chasing;
    text-align: center;
}

#banner p {
    font-size: 1.2cm;
    color: rgb(245, 239, 239);
    -webkit-text-stroke: 1.3px #0e1a3c;
    font-family: pesta;
    text-align: center;

}
#banner h2:hover{
    color: #0e1a3c;
    transition: all 1.2s;

}
#banner p:hover{
    color: #0e1a3c;
    transition: all 1.2s;
}

@media (min-width:480px) {
    #banner h2 {
        font-size: 1.1cm;
    }

    #banner p {
        font-size: 0.7cm;
    }
    #banner img {
        height: auto;

    }
}

@media (min-width:768px) {
    #banner {
        height: 300px;
        overflow: hidden;
    }

    #banner img {
        height: auto;
        margin-top: -20px;
    }


    #banner h2 {
        font-size: 1.5cm;
    }

    #banner p {
        font-size: 0.8cm;
    }
}

@media (min-width:1024px) {
    #banner img {
        margin-top: -200px;
    }

    #banner h2 {
        font-size: 1.7cm;
    }

    #banner p {
        font-size: 1cm;
    }
}