@import url(Style-menu.css);
@import url(Style-banner.css);
@import url(Style-blog.css);
@import url(Style-footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #badcf7;
    margin: 0;
    min-height: 100vh;
}


.contenedor {
    width: 98%;
    margin: auto;
}

.contenedor a {
    color: white;

}

.contenedor h1 {
    float: left;
    font-size: 30px;
    transform: translateY(12px);
    font-family: railey;
}

.contenedor h1:hover{
    color: #402399;
    transition: all 1.2s;
}

header .contenedor {
    display: table;
    /* para limpiar los float */
}

section #banner {
    width: 100%;
    margin-bottom: 25px;
}

@media(min-width:1024px) {
    .contenedor {
        width: 1010px;
    }
}