@import url(Style-menu.css);
@import url(Style-banner.css);
@import url(Style-blog.css);
@import url(Style-footer.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgba(222, 241, 219, 0.878); */
    /* background-color: #eaac8b; */
    /* azul */
    background-color: #e2ebf2;

    margin: 0;
    min-height: 100vh;
}


.contenedor {
    width: 98%;
    margin: auto;
}

.contenedor a {
    color: white;

}

.contenedor h1 {
    float: left;
    font-size: 30px;
    transform: translateY(12px);
    font-family: railey;
}

header .contenedor {
    display: table;
    /* para limpiar los float */
}

section #banner {
    width: 100%;
    margin-bottom: 25px;
}

@media(min-width:1024px) {
    .contenedor {
        width: 1010px;
    }
}