@import url(Style-menu.css);
@import url(Style-index.css);
@import url(Style-footer.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #badcf7;
}

.container__message {
    margin-top: 100px;
    position: relative;
    margin-bottom: 1cm;
}

.container__message h1{
    font-size: 2cm;
    color: white;
    -webkit-text-stroke: 2px #355070;
    font-family: chasing;
    text-align: center;
}

.container__message h1:hover {
    color: #0e1a3c;
    transition: all 1.3s;
    -webkit-text-stroke: 0.5px #d75b76;
}


table.container {
    width: 100%;
    margin: auto;
    display: flexbox;
    flex-wrap: wrap;
    justify-content:center;
    position: relative;
    top: 20%;
}

table{
    width: 230px;
    height: 230px;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
    font-family: serif;
    border-collapse: separate;

}



thead {
    text-decoration: none;
}

table input {
    border-radius: 5px;
}

.table:hover {
    transform: translateY(-10px);
    background-color: aliceblue;
    transition: all 1.5s;
}


tfoot {
    margin-top: 10px;

}

tfoot td {
    border: none;
    color: black;
}

tfoot button {
    border-radius: 10px;
    font-size: 0.5cm;
    transform: translateX(550px);
}

button a {
    color: white;
    text-decoration: none;
    font-family: patchwork;
}

button a:hover {
    color: white;
}

button.btn.btn-success:hover {
    transition: all 1.3s;
    background: #6d597a;
    color: white;
}

tr,
th,
td {
    border: none;
}