@import url(Style-index.css);
@import url(Style-menu.css);
@import url(Style-footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(/images/logggg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Creat account */

.container-form {
    width: 100%;
    margin: auto;
    margin-top: 2cm;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 20%;
}

.container-form:hover {
    transform: translateY(-10px);
    transition: all 0.5s;
}


.formulario {
    width: 350px;
    height: 670 px;
    margin: 10px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.9);
    border-color: #222;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(8px);
    transition: all 300ms;
    font-family: sans-serif;
    text-align: center;
    color: antiquewhite;
}


.formulario:hover {
    transition: all 1.5s;
    background-color: #74c69db6;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconosFormulario {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    color: white;
}

#inicio .iconosFormulario {
    margin-bottom: 2.8cm;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon a{
    color: white;
    text-decoration: none;
}

.border-icon:hover {
    background-color: #4a4aee;
    background-color: #6d597a;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    height: 3%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: antiquewhite;
}

.formulario button {
    width: 60%;
    margin: auto;
    display:inline;
    text-align: center;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    font-size: .8rem;
    cursor: pointer;
    color: #222;

}

form#inicio.formulario>button {
    margin-top: 66.8%;
}

.formulario button:hover {
    background-color: #4a4aee;
    background-color: #6d597a;
    transition: all 1.1s;
    color: white;
}

.dinamics {
    display: flex;
    margin: auto;
    justify-content: center;
    border-color: #222;
    z-index: 20px;
    margin-top: 1cm;
    padding: 20px;
    border-radius: 15px;
    transition: all 300ms;
    font-family: serif;
    text-align: center;
    color: antiquewhite;
}

 




