@font-face {
    font-family: railey;
    src: url(/font/Railey-PersonalUse.ttf);
}

/* NavBar */

#menu-bar {
    display: none;
}

header {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #0f8fde, #feca62, #d75b76);
    color: antiquewhite;
    font-family: serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

header #carrito {
    float: right;
    cursor: pointer;
    margin-top: 10px;
    transform: translateX(13px);
}

header input.form-control {
    border-radius: 15px;
    width: 20px;
    height: 30px;
    border: 0.5px solid black;
}

header #lupa {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left, #559ff9, #6e3f8d, #af3d55);
    width: 25px;
    height: 30px;
    color: antiquewhite;
    font-size: 15px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
}


#carrito:hover input {
    width: 150px;
    transition: all 1.2s ease;
    background-color: #0b132b;

}

#carrito input:focus {
    width: 150px;
    transition: all 1.2s ease;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    list-style: none;
    transition: all 1.2s;
}

.menu a {
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 18px;

}

.menu li {
    position: relative;
    display: inline-block;
}


.submenu {
    position: absolute;
    visibility: hidden;
    transition: opacity all 1.5s;
    background: #f29524c2;
    list-style: none;
    width: 100%;
}

.submenu li {
    display: inline-block;
    transform: translateX(-25%);
}
.submenu ul{
    display: inline-block;
    transform: translateX(-15%);
    text-align: center;
}

.submenu a {
    font-size: 16px;
    text-align: center;
    border: none;

}


.submenu a:hover {
    color: #0b132b;
    transition: all 1.2s;
}

.menu li:hover .submenu {
    visibility: visible;
    position: absolute;
    opacity: 1;
}

#menu-bar:checked~.menu {
    transform: translateX(0%);
}


@media(min-width:480px) {
    header #carrito {
        display: flex;
    }

    #carrito:hover input {
        width: 110px;
        transition: all 1.2s ease;
        background-color: #0b132b;
    }

    #carrito input:focus {
        width: 110px;
        transition: all 1.2s ease;
    }

    header {
        opacity: 0.95;
    }

    .menu {
        display: inline-flex;
        float: right;
        background: linear-gradient(to right, #0f8fde, #feca62, #d75b76);
        opacity: 0.97;
    }

}

@media(min-width:768px) {
    header #carrito {
        display: flex;
    }

    #carrito:hover input {
        width: 130px;
        transition: all 1.2s ease;
        background-color: #0b132b;
    }

    #carrito input:focus {
        width: 130px;
        transition: all 1.2s ease;
    }

    .menu {
        display: inline-flex;
        float: right;
        background: linear-gradient(to right, #0f8fde, #feca62, #d75b76);
    }

    header {
        opacity: 0.97;
    }
}

@media(min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        background: none;
    }

    .menu a {
        border: none;
    }

    header label {
        display: none;
    }

    header #carrito {
        display: block;
    }

}

/* NavBar END*/