@import url(Style-menu.css);
@import url(Style-footer.css);
@import url(Style-index.css);
@import url(Style-blog.css);

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(/images/loguear1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


#bannerExtra {
    margin-top: 30px;
    position: relative;
    margin-bottom: 1cm;
}

#bannerExtra .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: serif;
}

section#bannerExtra h2 {
    font-size: 2.4cm;
    color: #0e1a3c;
    -webkit-text-stroke: 2px #111011d7;
    font-family: chasing;
    text-align: center;
}

#bannerExtra h2:hover{
    color: white;
    -webkit-text-stroke: 0.8px #d75b76;
    transition: all 1.3s;
}



@media (min-width:480px) {
    #bannerExtra h2 {
        font-size: 40px;
    }
}

@media (min-width:768px) {
    #bannerExtra {
        height: 300px;
        overflow: hidden;
    }
}