<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style-index.css">
    <link rel="stylesheet" type="text/css" href="fontello.css">
    <title>Proyecto Prueba</title>
</head>

<body>
    <!-- Barra de Navegación (Menú) -->
    <header>
        <div class="contenedor">
            <a href="index.html">
                <h1 class="icon-shop">Fiesta Click</h1>
            </a>
            <!-- <img src="WhatsApp Image 2022-05-19 at 8.51.04 PM.jpg" width="100" height="60" alt="logo"> -->
            <input type="checkbox" id="menu-bar">
            <label class="icon-th-list" for="menu-bar"></label>
            <form class="form-inline" id="carrito">
                <input class="form-control" type="search" placeholder="Buscar">
                <button class="submit" id="lupa">
                    <span class="icon-search"></span>
                </button>
            </form>
            <nav class="menu">
                <a href="salones.html"><span class="icon-home"></span> Salones</a>
                <a href="#"><span class="icon-food"></span> Caterings</a>
                <a href="registroUsuario.html"><span class="icon-user"></span> Usuario</a>
                <a href=""><span class="icon-basket"></span> Carrito</a>
            </nav>
        </div>
    </header>
    <main>
        <!-- Banner -->
        <section id="banner">
            <img src="img1.jpg" width="100%" height="50%" alt="fiesta">
            <div class="contenedor">
                <h2>Armá tu fiesta de cumpleaños</h2>
                <p> La mejor fiesta, a un click de distancia</p>
                <a href="">Leer más</a>
            </div>
        </section>
        <section id="bienvenidos">
            <h2>Bienvenidos</h2>
            <p>Vos elegí lo que más te guste, nosotros nos encargamos del precio</p>
        </section>

        <!-- Blog -->
        <!-- Imagenes Slider -->
     
            <section id="slider">
                <p>Salones</p>
                <ul>
                    <li>
                        <div class="card" style="width:100%;">
                            <img src="salon.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Salón la Carlota</h5>
                                <p class="card-text">Atendido por sus propios Dueños</p>
                            </div>
                            <a href="salones.html"><button type="submit" class="btn btn-dark">Ver más</button></a>
                        </div>
                    </li>
                    <li>
                        <div class="card" style="width:100%;">
                            <img src="salon2.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Salón la Marmota</h5>
                                <p class="card-text">Atendido por sus propias Dueñas</p>
                            </div>
                            <a href="#"><button type="submit" class="btn btn-dark">Ver más</button></a>
                        </div>
                    </li>
                    <li>
                        <div class="card" style="width:100%;">
                            <img src="salon3.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Salón Achicoria</h5>
                                <p class="card-text">No creemos en la vergüenza</p>
                            </div>
                            <a href="#"><button type="submit" class="btn btn-dark">Ver más</button></a>
                        </div>
                    </li>
                    <li>
                        <div class="card" style="width:100%;">
                            <img src="salon4.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Salón Polenta</h5>
                                <p class="card-text">Arroz con Pollo</p>
                            </div>
                            <a href="#"><button type="submit" class="btn btn-dark">Ver más</button></a>
                        </div>
                    </li>
                </ul>
            </section>
            <!-- Imagenes Slider2 -->
            <section id="slider2">
                <p>Servicios de Comida</p>
                <ul>
                    <li>
                        <div class="card" style="width:100%;">
                            <img src="catering.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Catering la Carlota</h5>
                                <p class="card-text">Atendido por sus propios Dueños</p>
                            </div>
                            <a href="#"><button type="submit" class="btn btn-dark">Ver más</button></a>
                        </div>
                    </li>
                    <li>
                        <div class="card" style="width:100%">
                            <img src="catering2.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Catering la Marmota</h5>
                                <p class="card-text">Atendido por sus propias Dueñas</p>
                            </div>
                            <a href="#"><button type="submit" class="btn btn-dark">Ver más</button></a>
                        </div>
                    </li>
                    <li>
                        <div class="card" style="width:100%">
                            <img src="catering3.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Catering Achicoria</h5>
                                <p class="card-text">No creemos en la vergüenza</p>
                            </div>
                            <a href="#"><button type="submit" class="btn btn-dark">Ver más</button></a>
                        </div>
                    </li>
                    <li>
                        <div class="card" style="width:100%">
                            <img src="catering4.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Catering Polenta</h5>
                                <p class="card-text">Arroz con Pollo</p>
                            </div>
                            <a href="#"><button type="submit" class="btn btn-dark">Ver más</button></a>
                        </div>
                    </li>
                </ul>
            </section>
            <!-- Imagenes Slider3 -->
            <section id="slider3">
                <p>Entretenimiento</p>
                <ul>
                    <li>
                        <div class="card" style="width:100%;">
                            <img src="extra.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Mesa de Gliter</h5>
                                <p class="card-text">Para grandes y chicos.</p>
                            </div>
                            <a href="#"><button type="submit" class="btn btn-dark">Ver más</button></a>
                        </div>
                    </li>
                    <li>
                        <div class="card" style="width:100%">
                            <img src="extra2.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Payasos</h5>
                                <p class="card-text">Para entretener</p>
                            </div>
                            <a href="#"><button type="submit" class="btn btn-dark">Ver más</button></a>
                        </div>
                    </li>
                    <li>
                        <div class="card" style="width:100%">
                            <img src="extra3.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Dj</h5>
                                <p class="card-text">Para animar la noche</p>
                            </div>
                            <a href="#"><button type="submit" class="btn btn-dark">Ver más</button></a>
                        </div>
                    </li>
                    <li>
                        <div class="card" style="width:100%">
                            <img src="extra4.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Cotillón</h5>
                                <p class="card-text">Para sorprender a tus invitados</p>
                            </div>
                            <a href="#"><button type="submit" class="btn btn-dark">Ver más</button></a>
                        </div>
                    </li>
                </ul>
            </section>
    </main>

    <!-- sliderClick -->
    <!-- <ul class="sliderClick">
        <li>
            <input type="radio" id="sbutton1" name="sradio" checked>
            <label for="sbutton1"></label>
            <img src="img1.jpg" alt="">
        </li>
        <li>
            <input type="radio" id="sbutton2" name="sradio">
            <label for="sbutton2"></label>
            <img src="img2.jpg" alt="">
        </li>
        <li>
            <input type="radio" id="sbutton3" name="sradio">
            <label for="sbutton3"></label>
            <img src="img3.jpg" alt="">
        </li>
        <li>
            <input type="radio" id="sbutton4" name="sradio">
            <label for="sbutton4"></label>
            <img src="img4.jpg" alt="">
        </li>
    </ul> -->

    <!-- Imagen responsive -->

    <!-- <div class="img-wrap" > 
        <img alt="nuestra imagen" class="responsive" src="descarga.jpg" >      
    </div>  -->
    <!-- <p>Se re-dimensiona según el tamaño de la ventana</p> -->


    <!-- Esta imagen cambia segun la resolución -->
    <!-- <div class="img-wrap">
        <img alt="nuestra imagen" class="responsive" src="descarga.jpg">       
    </div> -->
    <!-- Se re-dimensiona según el tamaño de la ventana -->


    <!-- Footer -->
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Nuestros Servicios</h3>
                        <ul>
                            <li><a href="#">Salones</a></li>
                            <li><a href="#">Caterings</a></li>
                            <li><a href="#">Entretenimiento</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Sobre Nosotros</h3>
                        <ul>
                            <li><a href="#">¿Quiénes somos?</a></li>
                            <li><a href="#">Contactános</a></li>
                            <li><a href="#">¿Necesitas ayuda?</a></li>
                            <li><a href="#">Política de Privacidad</a></li>
                        </ul>
                    </div>
                    <div id="fiesta" class="col-md-6 item text">
                        <h3>Fiesta Click</h3>
                        <p>Somos un grupo de personas enfocadas en darte el mejor servicio para que puedas planear
                            la fiesta que siempre quisiste, de la mejor manera y al mejor precio.</p>
                    </div>
                    <div id="iconos" class="container text-center">
                        <span> <a href="https://es-la.facebook.com/login.php" id="facebook"
                                class="icon-facebook-squared"></a></span>
                        <span> <a href="https://twitter.com/i/flow/login" id="twitter" class="icon-twitter"></a></span>
                        <span> <a href="https://www.instagram.com/" id="instagram" class="icon-instagram"></a></span>
                    </div>
                </div>
                <p class="copyright">FiestaClick © 2022</p>
            </div>
        </footer>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2">© 2022 FiestaClick.</p>
        </div>
    </div>
    </footer>
    <!-- End -->

</body>

</html>
